extends layout

block head
  link(rel='stylesheet', href='/stylesheets/pages/projects.css')

block content
  .medium-6.columns(style='padding: 0px;')
    - for (var i=0; i<projects.length; i+=2)
      +project
  .medium-6.columns(style='padding: 0px;')
    - for (var i=1; i<projects.length; i+=2)
      +project

mixin project
        .small-12.columns(style='height: 100%')
          .div(class=projects[i].labels[0].css)
            .project
              .name= projects[i].name
              .labels
                - for (var l=0; l<projects[i].labels.length; l++)
                  .label(class=projects[i].labels[l].css)= projects[i].labels[l].text
                - if (projects[i].repository)
                  a(href=projects[i].repository, target='_blank')
                    img(class='labelimage', src='/images/github-mark.png')
              .body
                p= projects[i].description
                
                
