extends layout

block head
  link(rel='stylesheet', href='/stylesheets/pages/projects.css')

block content
  p
    h5 Active projects
    .medium-6.columns(style='padding: 0px;')
      - for (var i=0; i<projects.length; i+=2)
        +project
    .medium-6.columns(style='padding: 0px;')
      - for (var i=1; i<projects.length; i+=2)
        +project

mixin project
        .small-12.columns(style='padding-left: 0px; height: 100%')
          .div(class=projects[i].label)
            .project
              .name= projects[i].name
              .label= projects[i].label
              - if (projects[i].repository)
              a(href=projects[i].repository, target='_blank')
                img(class='labelimage', src='/images/github-mark.png')
              .body
                = 'Status: ' + projects[i].development
                p= projects[i].description
                
                
